#pagetitle {
	position: relative;
	text-decoration: underline;
	font-style: bold;
	left:3.5em;
	top:4em;
	z-index: -1;
	font-size: 3em;
	width: 4em;	
	text-align: center;
	width: 20em;
}

#lived_at {
	position: relative;
	font-style: bold;
	left:17em;
	top:8em;
	z-index: -1;
	font-size: 1.5em;
	width: 4em;	
	text-align: center;
	width: 20em;
}

#interests {
	position: relative;
	font-style: bold;
	left:17em;
	top:10em;
	z-index: -1;
	font-size: 1.5em;
	width: 4em;	
	text-align: center;
	width: 20em;
}

#interest {
	font-size: 2em;
	text-decoration: underline;
}

#opera {
	position: relative;
	right: 12em;
}

#tech {
	position: relative;
	bottom: 12.7em;
}

#psych {
	position: relative;
	bottom: 25.4em;
	left: 12em;
}

#resume {

	position: relative;
	border: 1px black solid;
	border-radius: 10px;
	font-style: bold;
	left:11.8em;
	top: -7em;
	width: 3.5em;
	font-size: 3em;
	text-align: center;
	z-index: 0;
}

#resume a:link {
	color: black;
	text-decoration: none;
}

#resume a:hover {
	color: blue;
}

#education {
	position: relative;
	font-style: bold;
	left:17em;
	top:-12em;
	z-index: -1;
	font-size: 1.5em;
	width: 4em;	
	text-align: center;
	width: 20em;
}

#edu_title {
	font-size: 1.8em;
	color: black;
	text-decoration: underline;
}

#class1 {
	font-size: .8em
}

#class2 {
	font-size: .8em
}

#class3 {
	font-size: .8em
}

#fun_fact {
	position: relative;
	font-style: bold;
	left:10.3em;
	top:-6em;
	z-index: -1;
	font-size: 2em;
	width: 4em;	
	text-align: center;
	width: 20em;
}

#fact{
	text-decoration: underline;
}

#fact_detail {
	font-size: .7em
}

#phototower1 img {
	position: absolute;
	height: 60em;
	top: 15em;
}

#phototower2 img{
	position: absolute;
	height: 48em;
	top: 15em;
	left:69em;
}

#phototower3 img {
	position: absolute;
	left: .5em;
	height: 48em;
	top: 75em;
}

#phototower4 img{
	position: absolute;
	height:60em;
	top: 63em;
	left:69em;
}
#mainbutton {
	border-radius: 5px;
	font-size: 20px;
	font-style:bold;
	border: black 2px solid;
	padding: .3em;
	position: absolute;
	top: 100em;
	left: 44em;

}
#mainbutton:hover {
	background-color: #BCD2EE;
}

.footer {
	position: absolute;
	top: 125em;
}

h4 a {
	margin-left: 2em;
}

h4 a:link {
	text-decoration: none;
}

h4 a:hover {
	color: purple;
}