#pagetitle {
	position: absolute;
	text-align: center;
	font-style: bold;
	left:11.1em;
	top:6.5em;
	z-index: -1;
	font-size: 3em;
	width: 4em;	
}

#techlist {
	position: absolute;
	border: 2px black solid;
	padding:.2em;
	margin-left: 5px;
	width: 8em;
	font-size: 2em;
	left: 6.5em;
	top: 11em;
	z-index: -1;
}

#techlist li {
	margin-top:.5em;
}

#techlist a {
	font-size: 18px;
	text-decoration: none;
	color: black;
	font-size: 1em
}

#techlist a:hover {
	color: blue;
}

#culturelist {
	position: absolute;
	border: 2px black solid;
	padding:.2em;
	margin-left: 5px;
	width: 8em;
	font-size: 2em;
	left: 25em;
	top: 11em;
	z-index: -1;
}

#culturelist li {
	margin-top:.5em;
}

#culturelist a {
	font-size: 18px;
	text-decoration: none;
	color: black;
	font-size: 1em
}

#culturelist a:hover {
	color: red;
}

#mainbutton {
	border-radius: 5px;
	text-decoration: none;
	color: black;
	font-size: 40px;
	font-style:bold;
	border: black 2px solid;
	padding: .3em;
	text-align: center;
	position: absolute;
	top: 19em;
	left: 13.2em;
}

#mainbutton:hover {
	background-color: #BCD2EE;
}

#gitbutton {
	border-radius: 5px;
	text-decoration: none;
	color: black;
	font-size: 40px;
	font-style:bold;
	border: black 2px solid;
	padding: .3em;
	text-align: center;
	position: absolute;
	top: 22em;
	left: 13.2em;
}

#gitbutton:hover {
	background-color: #BCD2EE;
}


#blogimage img {
	position: absolute;
	top: 33em;
	height: 14em;
	left: 32em;
	z-index: -1
} 

.footer {
	position: relative;
	top: 63em;
}

h4 a {
	margin-left: 2em;
}

h4 a:link {
	text-decoration: none;
}

h4 a:hover {
	color: purple;
}