#pagetitle {
	position: absolute;
	font-style: bold;
	left:3.5em;
	top:3em;
	z-index: -1;
	font-size: 4em;
	width: 11em;	
	text-align: center;
	border: 1px solid black;
}

#table-label {
	position: absolute;
	font-style: bold;
	top:6.5em;
	left: -.5em;
	z-index: -1;
	font-size: 4em;
	text-decoration: underline;
	width: 22em;
}

#table-label td {
	/*width:3.6em;*/
	padding: 1.5em;
	font-size:.8em;
}

#table-body {
	position: absolute;
	top:9.5em;
	z-index: -1;
	font-size: 4em;
	width: 28.5em;
	
}

#table-body td {
	padding: 0em 2em 2em 2em;
	width: 20%;
	font-size: .4em;
}

#mainbutton {
	border-radius: 5px;
	font-size: 20px;
	font-style:bold;
	border: black 2px solid;
	padding: .3em;
	position: absolute;
	top: 160em;
	left: 43em;

}
#mainbutton:hover {
	background-color: #BCD2EE;
}

#backbutton {
	border-radius: 5px;
	font-size: 20px;
	font-style:bold;
	border: black 2px solid;
	padding: .3em;
	position: absolute;
	top: 160em;
	left: 49em;

}
#backbutton:hover {
	background-color: #BCD2EE;
}

.footer {
	position: absolute;
	top: 200em;
}

h4 a {
	margin-left: 2em;
}

h4 a:link {
	text-decoration: none;
}

h4 a:hover {
	color: purple;
}