#pagetitle {
	position: absolute;
	font-style: bold;
	left:.3em;
	top:2.2em;
	z-index: -1;
	font-size: 4em;
	width: 4em;	
	text-align: center;
	width: 20em;
	text-decoration: underline;
}

#comp_projects {
    position: absolute;
	font-style: bold;
	left:3.8em;
	top:6em;
	z-index: 0;
	font-size: 3em;
	width: 4em;	
	text-align: center;
	width: 20em;
	color: black;
	text-decoration: underline;
}

#blogs {
    position: absolute;
    border-radius: 20px;
	font-style: bold;
	border: 1px black solid;
	left:16em;
	top:14em;
	z-index: 0;
	font-size: 2em;
	color: black;
	padding: .5em;
	text-decoration: none;
}

#cheat-sheet {
    position: absolute;
    border-radius: 20px;
	font-style: bold;
	border: 1px black solid;
	left:15.2em;
	top:17em;
	z-index: 0;
	font-size: 2em;
	color: black;
	padding: .2em;
	width: 10em;
	text-align: center;
	text-decoration: none;
}

#mainbutton {
	border-radius: 5px;
	font-size: 20px;
	font-style:bold;
	border: black 2px solid;
	padding: .3em;
	position: absolute;
	top: 38em;
	left: 43em;

}
#mainbutton:hover {
	background-color: #BCD2EE;
}

.footer {
	position: absolute;
	top: 47.5em;
}

h4 a {
	margin-left: 2em;
}

h4 a:link {
	text-decoration: none;
}

h4 a:hover {
	color: purple;
}